extends navigation
block content
    .container
        .row
            .col-md-12.col-xs-12
                figure.snip0057.red
                    figcaption
                        h2
                            | James
                            span Scoggins
                        p
                            | Aspiring Software Engineer / Web Developer & Recent 'Code Louisville' Graduate.
                        .icons
                            a(href='https://www.linkedin.com/in/jcscoggins') LinkedIn
                                i.ion-ios-home
                            a(href='https://github.com/TheScogg') Github
                                i.ion-ios-email
                            a(href='mailto:someone@example.com?Subject=Inqueries') E-Mail

                            i.ion-ios-telephone
                    .image
                        img(src='/img/contactMe.jpg', alt='sample4')
                    .position Web Developer





