extends navigation
block content
    .container
        .row
            .col-lg-6.col-xs-8.col-centered(style="margin-top:100px;")
                #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                  ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                  .carousel-inner(role='listbox')
                    .carousel-item.active
                        img(src="/img/pictures-14.jpg", alt="kitten")
                        .carousel-caption.d-none.d-md-block
                            h3 LifeLogs
                            p My CodeLouisville Project
                    .carousel-item
                        p(style="text-align:center;font-size:60px;color:white;margin-top:100px") My Name is James.
                        .carousel-caption.d-none.d-md-block
                            h3 GitHub
                            p Follow Me as I Learn
                    .carousel-item
                        p(style="text-align:center;font-size:60px;color:white;margin-top:100px") My Name is James.
                        .carousel-caption.d-none.d-md-block
                            h3 LinkedIn
                            p Stop In & Say Hi!
                  a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                  a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
