extends navigation
block content
    .container
        .row
            .col-lg-12.col-xs-12.intro
                p(style="text-align:center;font-size:60px;color:white;margin-top:100px") My Name
                p(style="text-align:center;font-size:90px;color:white") is James.

