extends navigation
block content
    .container
        .row
            .col-md-8

                script(src="http://cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js")
                script(src='/javascript/MyWorld/myWorld.js')
