doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')


    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/assets/font-awesome-4.7.0/css/font-awesome.min.css')

    script(src="https://code.jquery.com/jquery-3.1.1.js", integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=", crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')

    script(type="text/javascript", src="javascript/scripts.js")


  body
    if (error && error.length > 0)
      br
      h4.error-msg= error
      br

    .container
        .row.mobileNavRow
            .col-xs-2.mobileNavCol.col-centered
                .fa.fa-home.fa-5x(aria-hidden="true" style="color:cyan;")
                    span Home
            .col-xs-2.mobileNavCol.col-centered.col-centered
                .fa.fa-spinner.fa-5x(aria-hidden="true" style="color:magenta;")
                    span Projects
            .col-xs-2.mobileNavCol.col-centered
                .fa.fa-music.fa-5x(aria-hidden="true" style="color:yellow;")
                    span My Music
            .col-xs-2.mobileNavCol.col-centered
                .fa.fa-envelope.fa-5x(aria-hidden="true" style="color:green;")
                    span Contact
            .col-xs-2.mobileNavCol.col-centered
                if (user)
                    i.fa.fa-user.fa-5x(aria-hidden="true" style="color:orange;")
                        span .username #{user.username}
                    //- ul(data-role='list-view')
                    //-   li
                    //-     a(href='/myAccount') My Account
                    //-     a(href='/logout') Log Out
                if (!user)
                    i.fa.fa-user.fa-5x(aria-hidden="true" style="color:orange;")
                        span Log In
                        //a(href='/loginportal') Log In


        .row
            .col-lg-12.col-xs-12
                img.logo(src="/img/logo.jpg" alt="James Scoggins")

                ul.navigationBar
                    li.float-left
                        a(href='/home') Home
                            i.fa.fa-home(aria-hidden="true", style="font-size:1.2em")
                    li
                        a.navButton(href='/projects') Projects
                            i.fa.fa-spinner.fa-5x(aria-hidden="true", style="font-size:1.2em")
                    li
                        a.navButton(href='/music') My Music
                            i.fa.fa-music(aria-hidden="true", style="font-size:1.2em")
                    li
                        a.navButton(href='/contact') Contact
                            i.fa.fa-envelope(aria-hidden="true", style="font-size:1.2em")
                    li.float-right
                      if (user)
                        a.username #{user.username}
                            i.fa.fa-user(aria-hidden="true", style="font-size:1.2em")
                        //- ul(data-role='list-view')
                        //-   li
                        //-     a(href='/myAccount') My Account
                        //-     a(href='/logout') Log Out
                      if (!user)
                        a(href='/loginportal') Log In
                            i.fa.fa-user(aria-hidden="true", style="font-size:1.2em")

                ul.userDropdown
                    li
                        a(href="/myAccount") My Account
                    li
                        a(href="/logout") Logout
                div.dropdown
                    ul.projectsDropdown
                        li
                            a(href="http://lifelogs.herokuapp.com" target='_blank') LifeLogs
                        li
                            a(href="/myWorld") MyWorld
                    ul.musicDropdown
                        li
                            a(href="https://chrisscoggins.bandcamp.com/" target='_blank') BandCamp
                        li
                            a(href="http://www.reverbnation.com/theamericanpsychedelics" target='_blank') ReverbNation
                        li
                            a(href="https://soundcloud.com/thescogg" target='_blank') SoundCloud


    block content
