doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/assets/font-awesome-4.7.0/css/font-awesome.min.css')
    script(src='http://code.jquery.com/jquery.js')
    script(type="text/javascript", src="javascript/scripts.js")

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')


  body
    if (error && error.length > 0)
      br
      h4.error-msg= error
      br

    .container
        .row
            .col-lg-12.col-xs-12
                ul.nav
                    li
                        a(href='/home') Home
                            i.fa.fa-home(aria-hidden="true", style="font-size:1.2em")
                    li
                        a(href='/projects') Projects
                            i.fa.fa-spinner(aria-hidden="true", style="font-size:1.2em")
                    li
                        a(href='/music') Music
                            i.fa.fa-music(aria-hidden="true", style="font-size:1.2em")
                    li
                        a(href='/contact') Contact
                            i.fa.fa-envelope(aria-hidden="true", style="font-size:1.2em")
                    li(style='float:right')
                      if (user)
                        a.username #{user.username}
                            i.fa.fa-user(aria-hidden="true", style="font-size:1.2em")
                        //- ul(data-role='list-view')
                        //-   li
                        //-     a(href='/myAccount') My Account
                        //-     a(href='/logout') Log Out
                      if (!user)
                        a(href='/loginportal') Log In
                            i.fa.fa-user(aria-hidden="true", style="font-size:1.2em")


                ul.userDropdown
                    li
                        a(href="/myAccount") My Account
                    li
                        a(href="/logout") Logout
    block content



