doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='http://code.jquery.com/jquery.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(type="text/javascript", src="javascript/scripts.js")
  body
    if (error && error.length > 0)
      br
      h4.error-msg= error
      br

    ul.nav
        li
            a(href='#home') Home
        li
            a(href='#apps') Apps
        li
            a(href='#music') Music
        li
            a(href='#contact') Contact
        li(style='float:right')
          if (user)
            a.username #{user.username}
            //- ul(data-role='list-view')
            //-   li
            //-     a(href='/myAccount') My Account
            //-     a(href='/logout') Log Out
          if (!user)
            a(href='/loginportal') Log In

    ul.userDropdown
        li
            a(href="/myAccount") My Account
        li
            a(href="/logout") Logout

    block content
