body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #393939;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

a {
  color: #00B7FF;
}



/* NAVBAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #000000;*/
}

li {
    float: left;
    border-right: 1px solid #bbb;
}


li:last-child {
    border-right: 0;
    color: white;
}

li a {
    display: block;
    color: #aeaeae;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationBar li a:hover {
    background-color: #292929;
    color: #e7feff;
    border-radius: 10px;
    text-decoration: none;
}

/* Overwriting Bootstrap defaults */
.navigationBar > li > a:focus {
    /*background-color: green;*/
    color: white;
    text-decoration: none;
}

/* ICONS - Navbar */
.fa {
    float:left;
    margin-right: 10px;
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2.5em;}

/* User Dropdown */
.userDropdown, .projectsDropdown, .musicDropdown {
    display: none;
    background-color: #e8fcff;
    float: right;
    position: absolute;
    margin-top: 10px;
    right: 15px;
    border-radius: 10px;
    z-index: 2;
}

.userDropdown li {
    display: block;
    clear: both;
    border-bottom: 2px dotted dimgrey;
    width: 100%;
}

.userDropdown li:last-child {
    border-bottom: none;
}

.userDropdown li a, .projectsDropdown li a, .musicDropdown li a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: right;
}

.userDropdown li:hover {
    background-color: dimgrey;
}


.projectsDropdown, .musicDropdown {
  float: left;
  position: absolute;
  /*margin-left: 20px;*/
    left: 0;
  border-radius : 0 10px 10px 0;
    /*background-color: black;*/
}

.projectsDropdown li a {
    /*color: white;*/
}

/* Game (myWorld) Canvas */
canvas {
    display : block;
    margin : auto;
    margin-top: 50px;
}