@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

* {
    box-sizing: border-box;
}

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #686868;
    height: 100%;
}

.container {
    /*background-color: #393939;*/
    padding-top: 15px;

}

.col-centered{
    float: none;
    margin: 0 auto;
}

a {
  color: #00B7FF;
}



/* NAVBAR */
.logo {
    background-color: black;
    height:110px;
    width:135px;
    display:inline-block;
    position:relative;
    float:left;
    border:2px solid white;
    border-radius: 0 25px 0 0;
    padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #000000;*/
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: 0;
    color: red;
}

a.navButton  {
    display: block;
    color: #aeaeae;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float:left;
}

a.navButton span {
    margin-left: 15px;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.2em;
}

.navigationBar li:last-child {
    float: right;
    /*background-color: black;*/
}

.navButton:hover {
    background-color: #292929;
    color: #e7feff;
    border-radius: 10px;
    text-decoration: none;
}

/* Overwriting Bootstrap defaults */
.navigationBar > li > a:focus {
    /*background-color: green;*/
    color: white;
    text-decoration: none;
}

/* ICONS - Navbar */
.fa {
    float:left;
    margin-right: 10px;
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2.5em;}

/* User Dropdown */
.dropdown {
    background-color: black;
}

.userDropdown, .projectsDropdown, .musicDropdown {
    display: none;
    background-color: #e8fcff;
    float: right;
    position: relative;
    top: 15px;
    border-radius: 10px;
    z-index: 2;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1em;
    /*padding: 5px;*/
}

.userDropdown li {
    display: block;
    clear: both;
    border-bottom: 2px dotted dimgrey;
    width: 100%;
}

.userDropdown li:last-child {
    border-bottom: none;
}

.userDropdown li a, .projectsDropdown li a, .musicDropdown li a {
    display: block;
    color: black;
    /*background-color: green;*/
    text-decoration: none;
    text-align: right;
    /*margin: 0 5px 0 5px;*/
    font-size: 1.2em;
    padding: 10px;
}

.userDropdown li:hover, .projectsDropdown li a:hover, .musicDropdown li a:hover {
    background-color: rgba(0, 0, 0, 0.88);
    color: white;
}

.projectsDropdown, .musicDropdown {
  float: left;
  position: relative;
  /*margin-left: 20px;*/
    left: 0;
  border-radius : 0 10px 10px 0;
    /*background-color: black;*/
}

.projectsDropdown li a {
    /*color: white;*/
}

.mobileNavbar {
    display: none;
}



/* Game (myWorld) Canvas */
canvas {
    display : block;
    margin : auto;
    margin-top: 50px;
}


/****************************************
CONTACT ME PAGE
****************************************/


figure.snip0057 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 380px;
    max-width: 480px;
    width: 100%;
    background: #ffffff;
    color: #000000;
}
figure.snip0057 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
figure.snip0057 .image {
    width: 50%;
    overflow: hidden;
    z-index: 1;
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
}
figure.snip0057 .image img {
    position: relative;
    display: block;
    left: -15%;
    z-index: 1;
    -webkit-transform: skew(15deg);
    transform: skew(15deg);
}
figure.snip0057:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 45%;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transform: skewX(-17deg);
    transform: skewX(-17deg);
    -webkit-box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
    box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
}
figure.snip0057 figcaption {
    padding: 20px 30px 20px 20px;
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 50%;
}
figure.snip0057 figcaption h2,
figure.snip0057 figcaption p {
    margin: 0;
    text-align: right;
    padding: 10px 0;
    width: 100%;
}
figure.snip0057 figcaption h2 {
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0057 figcaption h2 span {
    font-weight: 800;
}
figure.snip0057 figcaption p {
    font-size: 0.9em;
    opacity: 0.8;
}
figure.snip0057 figcaption .icons {
    width: 100%;
    text-align: right;
}
figure.snip0057 figcaption .icons i {
    font-size: 26px;
    padding: 5px;
    top: 50%;
    color: #000000;
    opacity: 0;
}
figure.snip0057 figcaption a {
    opacity: 0.3;
}
figure.snip0057 figcaption a:hover {
    opacity: 0.8;
}
figure.snip0057 .position {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 15px 30px;
    font-size: 0.9em;
    opacity: 1;
    font-style: italic;
    color: #ffffff;
    background: #000000;
}
figure.snip0057.blue .position {
    background: #20638f;
}
figure.snip0057.red .position {
    background: #962d22;
}
figure.snip0057.yellow .position {
    background: #bf6516;
}
figure.snip0057:hover figcaption,
figure.snip0057.hover figcaption {
    bottom: 40px;
}
figure.snip0057:hover .icons i,
figure.snip0057.hover .icons i {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
figure.snip0057:hover:before,
figure.snip0057.hover:before {
    -webkit-animation: shadow 0.6s ease-in-out;
    animation: shadow 0.6s ease-in-out;
}
@-webkit-keyframes shadow {
    0% {
        left: 0px;
    }
    50% {
        left: -5px;
    }
    100% {
        left: 0px;
    }
}
@keyframes shadow {
    0% {
        left: 0px;
    }
    50% {
        left: -5px;
    }
    100% {
        left: 0px;
    }
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .logo {
        display: none;
    }

    .navigationBar {
        width: 100%;
    }

    .navigationBar li{
        width: 20%;
        border-right: none;
    }

    .navigationBar li:last-child {
        float: left;
        /*background-color: black;*/
    }

    a.navButton {
        display:inline-block;
        width: 100%;
        float:left;
        text-align:center;
    }

    a.navButton i,
    a.navButton span {
        display:block;
        /*width:100%;*/
        clear:both;
        margin: 0;
        font-size: 3.5vw;
        vertical-align: center;
        /*text-align: center;*/
    }

    a.navButton span {
        /*font-size: .5em;*/
        display: none;
        margin-top: 5px;
    }

    a.navButton:hover {
        background-color: black;
        width: 100;
    }

    .fa:before {
        font-size:3em;
    }

    .userName {
        float: left;
    }

    .musicDropdown a {
        font-size: 1.3vw;
    }

    .dropdown li a {
        font-size: 4vw;
    }

    figure.snip0057 .image img {
        position: relative;
        display: block;
        left: -40%;
        z-index: 1;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}